<!DOCTYPE html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- <link href="https://cdn.jsdelivr.net/npm/daisyui@4.10.1/dist/full.min.css" rel="stylesheet" type="text/css" />
<script src="https://cdn.tailwindcss.com"></script> -->

<script src="https://unpkg.com/htmx.org@2.0.2/dist/htmx.js" 
        integrity="sha384-yZq+5izaUBKcRgFbxgkRYwpHhHHCpp5nseXp0MEQ1A4MTWVMnqkmcuFez8x5qfxr" 
        crossorigin="anonymous"></script>
<script src="https://unpkg.com/htmx-ext-json-enc@2.0.1/json-enc.js"></script>
<script src="https://unpkg.com/htmx-ext-multi-swap@2.0.0/multi-swap.js"></script>

{{ head }}

<script>
  window.process_special_events = { "empty": () => { } };
  window.tron_assets = {};
</script>


<script>
  window.addEventListener("load", (event) => {
    console.log("page is fully loaded");
    // Create a new EventSource instance pointing to the endpoint where your server sends the events
    window.eventSource = new EventSource('/server_events');

    // Listen for messages from the server
    window.eventSource.onmessage = function (event) {
      const event_data = JSON.parse(event.data);
      const state = event_data["server_side_trigger_data"]["new_state"];
      const target = event_data["server_side_trigger_data"]["target"];
      console.log("event_data:", event_data);
      for (const key in window.process_special_events) {
        if (window.process_special_events.hasOwnProperty(key)) {
          window.process_special_events[key](target, state, event_data)
        }
      }

      console.log('New message from server:', event.data, target, state);
      document.getElementById(target).setAttribute("state", state);
      console.log("server side trigger:", "#" + target);
      htmx.trigger("#" + target, "server_side_trigger", {event_data:{}});
    };

    // Listen for errors
    window.eventSource.onerror = function (event) {
      // Handle errors here
      console.error('EventSource failed:', event);
    };
  })

  window.addEventListener("beforeunload", (event) => {
    console.log("close event source before unloaded");
    eventSource.close();
  })

  // standard event response functions
  // for input element, the value is stored in the attribute
  function get_input_event(event) {
    if ( event == null || event.type == "load") { // htxm may evaluate "load" event that does not has "getAttribute" 
      return
    } else {
      return {
        "tn_event":
        {
          "e_trigger": event.currentTarget.id,
          "e_type": event.type,
          "e_state": event.currentTarget.getAttribute('state'),
          "e_target": event.currentTarget.getAttribute('hx-target') 
        },
        "e_value": document.getElementById(event.currentTarget.id).value
      };
    }
  };

  function get_event(event) {
    if (event == null || event.type == "load") { // htxm may evaluate "load" event that does not has "getAttribute" 
      return
    } else {
      return {
        "tn_event":
        {
          "e_trigger": event.currentTarget.id,
          "e_type": event.type,
          "e_state": event.currentTarget.getAttribute('state'),
          "e_target": event.currentTarget.getAttribute('hx-target') 
        }
      };
    };
  };

  // for non-input element, the value is stored in innerHTML
  function get_event_with_value(event) {
    if (event == null || event.type == "load") { // htxm may evaluate "load" event that does not has "getAttribute" 
      return
    } else {
      return {
        "tn_event":
        {
          "e_trigger": event.currentTarget.id,
          "e_type": event.type,
          "e_state": event.currentTarget.getAttribute('state'),
          "e_target": event.currentTarget.getAttribute('hx-target')
        },
        "e_value": document.getElementById(event.currentTarget.id).innerHTML
      };
    };
  };

</script>
{{ script }}
</head>

<html lang="en">

<body>
  <div hx-get="/load_page" hx-swap="outerHTML" hx-trigger="load">Loading Page</div>
</body>

</html>