<div class="container mx-auto p-4">
    <div class="flex flex-row p-1">
        {% for btn in buttons %}
        <div class="flex flex-row p-1 flex-1">
            {{btn}}
        </div>
        {% endfor %}
    </div>
    <div class="flex flex-row p-1">
        {{ checklist }}
    </div>
    <div class="flex flex-row p-1">
        {{ radio_group }}
    </div>
    <div class="flex flex-row p-1">
        {{ select }}
    </div>
    <div class="flex flex-row p-1">
        {{ slider }}
    </div>
    <div class="flex flex-row p-1">
        <div class="flex flex-row flex-1 p-1">
            {{ clean_stream_textarea }}
        </div>
        <div class="flex flex-row flex-1 p-1">
            {{ clean_textarea }}
        </div>
        <div class="flex flex-row flex-1 p-1">
            {{ clean_textinput }}
        </div>
    </div>
    <div class="flex flex-col p-1">
        <div> stream_textarea </div>
        <div class="flex flex-row flex-1 h-20">
            {{stream_textarea}}
        </div>
    </div>
    <div class="flex flex-col p-1">
        <div> textarea </div>
        <div class="flex flex-row flex-1 h-20">
            {{textarea}}
        </div>
    </div>
    <div class="flex flex-col p-1">
        <div>
            <label> text input </label>
        </div>
        <div class="flex flex-row flex-1 h-20">
            {{textinput}}
        </div>
    </div>
    <div class="flex flex-col p-1">
        {{file_upload}}
    </div>
    <div id="file_uploaded_container">
    </div>
</div>