<title> Image GS </title>
<div class="container flex flex-row mx-auto justify-center">
    <p class="flex-1 text-center mx-auto text-2xl">Image GS</p>
</div>
<hr class="py-2">
<div class="container mx-auto px-4">
    <div class="flex flex-row">
        <div class="flex flex-col w-full">
            <p> Input </p>
            <div class="p-2">
                {{input_image_area}}
            </div>
        </div>
        <div class="flex flex-col w-full">
            <p> GS fit </p>
            <div class="p-2">
                {{image_output_area}}
            </div>
        </div>
        <div class="flex flex-col w-full">
            <div class="p-2">
                {{dnd_file_upload}}
            </div>
        </div>
    </div>
</div>

</div>